<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxdx.workflow.activiti.rest.mapper.LeaveMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sxdx.workflow.activiti.rest.entity.Leave">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="apply_time" property="applyTime" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="leave_type" property="leaveType" />
        <result column="process_instance_id" property="processInstanceId" />
        <result column="reality_end_time" property="realityEndTime" />
        <result column="reality_start_time" property="realityStartTime" />
        <result column="reason" property="reason" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, apply_time, start_time, end_time, leave_type, process_instance_id, reality_end_time, reality_start_time, reason
    </sql>

</mapper>
