spring:
  application:
    name: workflow-web
  profiles:
    active: dev

server:
  # 服务器的HTTP端口，默认为80
  port: 8201
  servlet:
    context-path: /
  tomcat:
    # tomcat的URI编码
    uri-encoding: UTF-8
    # tomcat最大线程数，默认为200
    max-threads: 800
    # Tomcat启动初始化的线程数，默认值25
    min-spare-threads: 30

